@font-face {
  font-family: comfortaa;
  src: url(assets/comfortaaFont/Comfortaa-Light.ttf);
}

#description {
  margin: 20px;
}

body {
  font-family: comfortaa;
  margin: 0px auto;
  line-height: 35px;
  height: 100%;
  overflow: hidden;
}

.camera {
  height: 100%;
  max-width: 1000px;
  text-align: center;
  z-index: 1;
}

#video {
  display: inline-block;
/*   width: 100%;
  max-width: 1000px; */
  height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#modes {
  z-index: 2;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  height: calc(100% - 20px);
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.mode {
  width: 14%;
  height: 15vw;
  max-height: 150px;
  background-size: cover;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  opacity: 0.2;
}

.mode:first-of-type {
  opacity: 1;
}

#photo-menu {
/*   border: 2px solid red; */
/*   max-height: 50px; */
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 3;
  text-align: center;
}

#take-photo, #change-camera {
  display: inline-block;
  background-image: url('assets/images/take-photo.png');
/*   border: 2px solid red; */
  background-size: cover;
  width: 10%;
  max-width: 100px;
  height: 10vw;
  max-height: 100px;
  margin: 0px 40px;
}

#change-camera {
  background-image: url('assets/images/change-camera.png');
}